<section class="section">
    <aside class="menu">
      <p class="menu-label">
        Category Archives
      </p>
      <ul class="menu-list">
        <li>
          <a>Articles</a>
        </li>
        <li>
          <a>Columns</a>
        </li>
        <li>
          <a>Features</a>
        </li>
        <li>
          <a>Interviews</a>
        </li>
        <li>
          <a>News</a>
        </li>
        <li>
          <a>Podcast</a>
        </li>
        <li>
          <a>Reviews</a>
        </li>
        <li>
          <a>Site Updates</a>
        </li>
        <li>
          <a>Trailers</a>
        </li>
        <li>
          <a>Videos</a>
        </li>
      </ul>
      <p class="menu-label">
        System Archives
      </p>
      <ul class="menu-list">
        <li>
          <a>3Ds</a>
        </li>
        <li>
          <a>DS</a>
        </li>
        <li>
          <a>PC</a>
        </li>
        <li>
          <a>PlayStation 3</a>
        </li>
        <li>
          <a>PlayStation 4</a>
        </li>
        <li>
          <a>Retro</a>
        </li>
        <li>
          <a>Vita</a>
        </li>
        <li>
          <a>Wii</a>
        </li>
        <li>
          <a>Wii U</a>
        </li>
        <li>
          <a>Xbox 360</a>
        </li>
        <li>
          <a>Xbox One</a>
        </li>
      </ul>
      <p class="menu-label">
        Friends
      </p>
      <ul class="menu-list">
        <li>
          <a>Jack Gilmartin has a Blog</a>
        </li>
        <li>
          <a>Gamewise</a>
        </li>
        <li>
          <a>TheTanooki</a>
        </li>
      </ul>
    </aside>
</section>
