<html class="has-navbar-fixed-top">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    
    <app-nav-bar></app-nav-bar>

    <div class="container">
    <app-nav-bar-search></app-nav-bar-search>
    <app-slideshow></app-slideshow>
    </div>
    
    <div class="columns">
        <div class="column">
            <section class="section">
                <h1 class="title" style="color: #e8e5e0">LATEST <b><span style="color: #ff003e;">UPDATES</span></b></h1>
            </section>
        </div>
        <div class="column is-2">
            
        </div>
    </div>
    <br>
    <app-footer></app-footer>
</html>