<html class="has-navbar-fixed-top">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    
    <app-nav-bar></app-nav-bar>

    <div class="container">
    <app-nav-bar-search></app-nav-bar-search>
    <app-slideshow></app-slideshow>
    
    <div class="columns">
        <div class="column">
            <section class="section">
                <h1 class="title" style="color: #e8e5e0">LATEST <b><span style="color: #ff003e;">UPDATES</span></b></h1>

                <div class="tabs is-large">
                        <ul>
                          <li class="is-active">
                            <a>Popular</a>
                          </li>
                          <li>
                            <a>Recent</a>
                          </li>                          
                        </ul>
                </div>

                <!--<button (click)="addArticle(newtitle, newlink)"
                class="ui positive right floated button">
                Submit link
                </button>-->
            </section>
            <section class="section">
                <app-article-row></app-article-row>
            </section>
        </div>
        <div class="column is-one-fifth">
            <app-side-bar></app-side-bar>
        </div>
    </div>
    </div>
    <app-footer></app-footer>
</html>