<nav class="navbar is-fixed-top is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="https://cdn.rawgit.com/s00172994/c9a03cee666ae91b1590379c15a8fac7/raw/c2b5faba49c5c5c3d961a177cdd073d22f11b3e3/logo.svg" class="logo">
      </a>
      <a class="navbar-item is-hidden-desktop" href="https://github.com/s00172994/Crosshair-Credits" target="_blank">
        <span class="icon is-medium" style="color: #ff003e;">
          <i class="fa fa-github fa-3x"></i>
        </span>
      </a>
      <div class="navbar-burger burger" data-target="navMenuExamplet" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active'); document.querySelector('.navbar-burger').classList.toggle('is-active');">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenuExamplet" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active" href="#">
          Home
        </a>
        <a class="navbar-item " href="#">
            News
          </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Platforms
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item " href="#">
              PC
            </a>
            <a class="navbar-item " href="#">
              Xbox One
            </a>
            <a class="navbar-item " href="#">
              PS4
            </a>
            <a class="navbar-item " href="#">
              Nintendo Switch
            </a>            
          </div>
        </div>
        <a class="navbar-item " href="#">
          Reviews
        </a>
        <a class="navbar-item " href="#">
          Features
        </a>
        <a class="navbar-item " href="#">
            Videos
          </a>
          <a class="navbar-item " href="#">
              Forums
            </a>
            <a class="navbar-item " href="#">
                More
              </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/s00172994/Crosshair-Credits" target="_blank">
          Github
        </a>
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary is-inverted is-outlined">
                  <span class="icon">
                      <i class="fa fa-envelope"></i>
                    </span>
                <span>Subscribe</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-custom" href="#">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>Sign In</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>