<section>
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="https://cdn.rawgit.com/s00172994/c9a03cee666ae91b1590379c15a8fac7/raw/c2b5faba49c5c5c3d961a177cdd073d22f11b3e3/logo.svg" width="112" height="28">
    </div>
    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
    <div class="navbar-burger burger" data-target="navMenuExamplet">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenuExamplet" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item " href="#">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active" href="#">
          Docs
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="#">
            Overview
          </a>
          <a class="navbar-item " href="#">
            Discover
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <div>version
              <p class="has-text-info is-size-6-desktop">0.4.3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="https://github.com/jgthms/bulma" target="_blank">
        Github
      </a>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a id="twitter" class="button">
              <span>Tweet</span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.4.3.zip">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Download</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
</section>