.has-text-info {
    color: #ff003e !important;
}

.button.is-custom {
    background-color: #ff003e;
    border-color: transparent;
    color: #222;
}

.logo {
    max-height: 3em;
    width: 150px;
}